{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/site-tailwind.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <title>Test Hello</title>
    </head>
    <body>
        <form id="csrf-form">
            {% csrf_token %}
        </form>
        <div id="root"/>
        <script src="{% static 'js/app-bundle.js' %}"></script>
    </body>
</html>